.shift-types-screen {
  background-color: #2e3e4f;
}

.shift-types-screen__row {
  display: flex;
  flex: 1;
}

.shift-types-screen__indicator {
  flex: 1;
  align-self: center;
}

.shift-types-screen__delete {
  -webkit-tap-highlight-color: transparent;
}

.shift-types-screen__add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
