.shift-type-indicator {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.shift-type-indicator__picker-container {
  position: absolute;
  top: 45px;
  left: 15px;
  z-index: 2;
}
