.shift-type-indicator {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.shift-type-indicator__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.shift-type-indicator__config-container {
  width: 372px;
  z-index: 2;
}

.shift-type-indicator__name-input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
}

.shift-type-indicator__name-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.shift-type-indicator__save {
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  border: none;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  user-select: none;
  outline: none;
  background-color: #ff5722;
  margin-top: 1rem;
}

.shift-type-indicator__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
