.shift-type-indicator {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.shift-type-indicator__picker-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.shift-type-indicator__picker-overlay {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
