.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal__icon {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #31ad98;
  color: #ffffff;
}

.modal__container {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.modal__title {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 4rem;
  color: #555;
  background: #efefef;
}

.modal__content {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.1rem;
  color: #333;
}

.modal__button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
}
