.calendar-day-block {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  margin-right: 1px;
  margin-left: 1px;
  -webkit-tap-highlight-color: transparent;
}

.calendar-day-interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  background-color: #223140;
}

.calendar-day__today {
  height: 1px;
  width: 1rem;
  background-color: #ffffff;
}

.calendar-day:first-of-type,
.calendar-day:last-of-type {
  margin-right: 0;
}
