.calendar-day {
  font-size: 0.85rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.calendar-day:hover {
  background-color: #efefef;
}
