.calendar-day-block {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  margin-right: 1px;
  margin-left: 1px;
}

.calendar-day-interactive {
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  background-color: #223140;
}

.calendar-day__day {
  padding-bottom: 1px;
}

.calendar-day__day--today {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0;
}

.calendar-day:first-of-type,
.calendar-day:last-of-type {
  margin-right: 0;
}
